html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: #FFF;
}

h2:before, h2:after{
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2{
    text-align: center;
}

p{
    text-align: initial;
}

a:hover{
    cursor: pointer;
}

#header{
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 600px;
    max-height: 200px;
    min-height: 200px;
    height: 200px;
    background: center no-repeat url("dock-comp.jpg");
    background-size: cover;
    overflow: hidden;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#title{
    display: block;
    height: 100%;
    vertical-align: middle;
    line-height: 200px;
    background: rgba(200, 200, 200, 0.5);
}


footer{
    display: block;
    left: 0; right: 0;
    height: 12em;
    min-height: 12em;
    position:fixed;
    z-index: 0;
    bottom:0;
}

.center{
    padding: 0;
    margin: auto 0 auto 0;
    max-width: 100%;
    text-align: center;
}

.media{
    padding: 4em;
}

#page{
    position: relative;
    padding: 3em 0 0 0;
    margin: 0 0 12em 0;
    min-height: 100%;
    z-index: 10;
    background: #FFF;
}

#main{
    min-height: 100%;
    padding: 1em;
    margin: 0;
}

#menu{
    position: relative;
    z-index: 100;
    display: block;
    left: 0; right: 0; top: 0;
    padding: 0;
    margin: 0 0 -3em 0;
    height: 3em;
    background: #FFF;
    border-bottom: solid 1px rgba(200, 200, 200, 0.5);
}

#menu>a{
    display: inline-block;
    margin: 0;
    padding: 0 0.75em;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    text-decoration: none;
    color: #404040;
}

#menu>a:hover{
    background: #F9F9F9;
}

#menu>a.active{
    background: #EFEFEF;
}

#menu>a.active:hover{
    background: #EFEFEF;
}

#menu.fixed{
    position: fixed;
}

#status{
    padding: 2em;
}


.hidden{
    display: none !important;
}

section, div.module{
    display: inline-block;
    max-width: 600px;
    min-width: 300px;
    padding: 1em;
    margin: auto 0 auto 0;
    text-align: center;
}

